################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FileManagement.slnx/FileContentIndex/c79e102a-baa1-4b01-95c0-14f4969eaab3.vsidx
