.event-meeting{
  background-color: #0d6efd !important;
  color: #fff !important;
  border-color: #0d6efd !important;
}
.event-leave{
  background-color: #dc3545 !important;
  color: #fff !important;
  border-color: #dc3545 !important;
}
